.not-found {
	height: 80vh;
}
.not-found > h2 {
	font-weight: 800;
	color: #dc164a;
}
.not-found > a {
	font-weight: 700;
	color: #dc164a;
	border: 1px solid #dc164a;
	padding: 10px 20px;
	transition: all 0.4s;
}
.not-found > a:hover {
	color: #fff;
	background-color: #dc164a;
}
