.topic {
	border: 1px solid #dc164a;
	padding: 20px;
	border-radius: 20px;
}
.img {
	background-color: #dc164a;
	width: 300px;
	border-radius: 15px;
}
.header-bg {
	height: 360px;
	/* width: 100%; */
	background-position: 100% 20%;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-bg > h1 {
	letter-spacing: 10px;
	font-weight: 800;
	text-transform: uppercase;
}
.details > h3 {
	font-weight: 700;
	color: #dc164a;
}
.details > button {
	border: 1px solid #dc164a;
	padding: 5px 20px;
	font-weight: 700;
	color: #dc164a;
	border-radius: 20px;
	transition: all 0.3s;
}
.details > button:hover {
	color: #fff;
	background-color: #dc164a;
}
