.topic {
	border: 1px solid #dc164a;
	padding: 20px;
	border-radius: 20px;
}
.img {
	background-color: #dc164bce;
	width: auto;
	border-radius: 15px;
}

.details > button {
	border: 1px solid #dc164a;
	padding: 5px 20px;
	font-weight: 700;
	color: #dc164a;
	border-radius: 20px;
	transition: all 0.3s;
}
.details > button:hover {
	color: #fff;
	background-color: #dc164a;
}
